<div class="recipes-container">
  <h2>All Recipes</h2>

  <div class="recipe-grid">

    <div class="recipe-card">
      <img src="cheesypi.jpg" alt="Pasta">
      <h3>cheesy Pizza</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view3">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="itapa.jpg" alt="Pizza">
      <h3>Delicious Pasta</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view1">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="salad.jpg" alt="Salad">
      <h3>Healthy Salad</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view2">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="chocolate.jpg" alt="Pizza">
      <h3>Chocolate Cake</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view4">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="biryani.jpg" alt="Pizza">
      <h3>Chicken Biryani</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view5">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="fishcurry.jpg" alt="Pizza">
      <h3>Spicy Fish Curry</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view6">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="egg.jpg" alt="Pizza">
      <h3>Egg Omlet</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view7">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>
    </div>

    <div class="recipe-card">
      <img src="pavbhaji.jpg" alt="Pizza">
      <h3>Pav Bhaji</h3>
      <div class="card-actions">
        <button class="btn view-btn" routerLink="/view8">👀 View Details</button>
        <button class="btn share-btn"routerLink="/contactus">🔗 Share</button>
      </div>


    </div>

  </div>
</div>