<div class="view-container">
  <div class="recipe-card">
    

    <h2 class="recipe-title">Vegetarian</h2>
   <P>Welcome to the 3HO Vegetarian Recipes Collection, where nourishment meets intention. Explore a diverse array of delicious, health-conscious recipes inspired by the yogic lifestyle. Whether you’re looking to energize your morning, rejuvenate after a long day, or celebrate with friends and family.

From hearty lacto-vegetarian dishes to refreshing beverages and sweet treats, every recipe is designed to uplift your spirit and nourish your body. Dive into a world of wholesome ingredients, vibrant flavors, and culinary inspiration that aligns with your journey toward a balanced and fulfilling life.</P>

    <button class="back-btn" routerLink="/home">⬅ Back to Recipes</button>
  </div>
</div>



