<div class="view-container">
  <div class="recipe-card">
    <img src="egg.jpg" alt="Recipe Image" class="recipe-image" />

    <h2 class="recipe-title">Egg Omlet</h2>

    <div class="section">
      <h3>🍅 Ingredients</h3>
         <ul>
           <li>2 Eggs</li>
          <li>Onions & Green Chilies</li>
          <li>Salt & Pepper</li>
          <li>Oil for frying</li>
        </ul>
    </div>

    <div class="section">
      <h3>👨‍🍳 Instructions</h3>
       <ol>
          <li>Beat eggs with spices.</li>
          <li>Pour on hot pan with oil.</li>
          <li>Flip once golden.</li>
          <li>Serve hot with toast.</li>
        </ol>
    </div>

    <button class="back-btn" routerLink="/allrecipes">⬅ Back to Recipes</button>
  </div>
</div>

