<div class="view-container">
  <div class="recipe-card">
    <img src="fishcurry.jpg" alt="Recipe Image" class="recipe-image" />

    <h2 class="recipe-title">Spicy Fish Curry</h2>

    <div class="section">
      <h3>🍅 Ingredients</h3>
         <ul>
          <li>Fish Fillets</li>
          <li>Coconut Milk</li>
          <li>Red Chili & Spices</li>
          <li>Onions & Garlic</li>
        </ul>
    </div>

    <div class="section">
      <h3>👨‍🍳 Instructions</h3>
       <ol>
          <li>Fry fish lightly.</li>
          <li>Cook masala paste.</li>
          <li>Add coconut milk and fish.</li>
          <li>Simmer and serve with rice.</li>
        </ol>
    </div>

    <button class="back-btn" routerLink="/allrecipes">⬅ Back to Recipes</button>
  </div>
</div>

