<div class="view-container">
  <div class="recipe-card">
    <img src="chocolate.jpg" alt="Recipe Image" class="recipe-image" />

    <h2 class="recipe-title">Chocolate Cake</h2>

    <div class="section">
      <h3>🍅 Ingredients</h3>
        <ul>
          <li>Flour & Cocoa Powder</li>
          <li>Butter & Sugar</li>
          <li>Eggs</li>
          <li>Baking Powder</li>
        </ul>
    </div>

    <div class="section">
      <h3>👨‍🍳 Instructions</h3>
      <ol>
          <li>Mix all ingredients well.</li>
          <li>Bake for 30 mins at 180°C.</li>
          <li>Let it cool and add frosting.</li>
          <li>Cut and enjoy!</li>
        </ol>
    </div>

    <button class="back-btn" routerLink="/allrecipes">⬅ Back to Recipes</button>
  </div>
</div>

