
<div class="view-container">
  <div class="recipe-card">

    <h2 class="recipe-title">non-vegitarian</h2>
   <P>on-vegetarian food contains meat, and sometimes, eggs. The term is common in India, but not usual elsewhere. In the generally vegetarian environment of India, restaurants offering meat and fish usually have a "non-vegetarian" section of their menu, and may include the term in their name-boards and advertising.</P>

    <button class="back-btn" routerLink="/home">⬅ Back to Recipes</button>
  </div>
</div>