<div class="view-container">
  <div class="recipe-card">
    <img src="pasta.jpg" alt="Recipe Image" class="recipe-image" />

    <h2 class="recipe-title">cheesy Pizza</h2>

    <div class="section">
      <h3>🍅 Ingredients</h3>
        <ul>
          <li>Pizza Base</li>
          <li>Tomato Sauce</li>
          <li>Cheese</li>
          <li>Veggie Toppings</li>
        </ul>
    </div>

    <div class="section">
      <h3>👨‍🍳 Instructions</h3>
      <ol>
          <li>Spread sauce over base.</li>
          <li>Add cheese and toppings.</li>
          <li>Bake for 10–15 mins at 220°C.</li>
          <li>Slice and serve hot.</li>
        </ol>
    </div>

    <button class="back-btn" routerLink="/allrecipes">⬅ Back to Recipes</button>
  </div>
</div>

